<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842583943917-856js8ph5vn44pjr9fp3dibnir8ttm2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842583943917-856js8ph5vn44pjr9fp3dibnir8ttm2g</string>
	<key>API_KEY</key>
	<string>***************************************</string>
	<key>GCM_SENDER_ID</key>
	<string>842583943917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.sacredsanctuary.remoteConfigSample</string>
	<key>PROJECT_ID</key>
	<string>remote-config-sample-3d7f9</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-sample-3d7f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842583943917:ios:757828e3930eb8898ffae4</string>
</dict>
</plist>